In [4]:
def calculate_grade(percentage):
    if percentage > 90:
        return "Grade A"
    elif percentage >= 80:
        return "Grade B"
    elif percentage >= 60:
        return "Grade C"
    else:
        return "Grade D"

percentage = float(input("Enter the percentage: "))
grade = calculate_grade(percentage)
print("Grade:", grade)

Enter the percentage: 81
Grade: Grade B

Q2

In [7]:
def calculate_road_tax(cost_price):
    if cost_price > 100000:
        return cost_price * 0.15
    elif cost_price > 50000:
        return cost_price * 0.10
    else:
        return cost_price * 0.05

cost_price = float(input("Enter the cost price of the bike: "))
road_tax = calculate_road_tax(cost_price)
print("Road tax to be paid: Rs", road_tax)

Enter the cost price of the bike: 100004
Road tax to be paid: Rs 15000.599999999999

Q3

In [10]:
city_monuments = {
    "Delhi": "Red Fort",
    "Agra": "Taj Mahal",
    "Jaipur": "Jal Mahal"
}

city = input("Enter a city: ")

if city in city_monuments:
    print("Monument in", city + ":", city_monuments[city])
else:
    print("Monument information not available for", city)

Enter a city: Agra
Monument in Agra: Taj Mahal

Q4

In [ ]:
number = int(input("Enter a number: "))
count = 0

while number > 10:
    number /= 3
    count += 1

print("The given number can be divided by 3", count, "times before it is less than or equal to 10.")

Q5

The while loop in Python is used to execute a block of code repeatedly as long as a specified condition is true. It's useful when you need to repeat a task based on certain conditions, and you may not know in advance how many times the loop will run.

for eg:

In [16]:
while True:
    age = int(input("Enter your age: "))
    if age >= 0 and age <= 120:
        break
    else:
        print("Invalid age. Please enter a valid age.")

Enter your age: 121
Invalid age. Please enter a valid age.
Enter your age: -1
Invalid age. Please enter a valid age.
Enter your age: 0

Q6
Use nested while loop to print three different pattern

In [17]:
# Pattern 1
row = 1
while row <= 5:
    col = 1
    while col <= row:
        print("*", end=" ")
        col += 1
    print()
    row += 1

print()

*
* *
* * *
* * * *
* * * * *

In [18]:
row = 5
while row >= 1:
    col = 1
    while col <= row:
        print("&", end=" ")
        col += 1
    print()
    row -= 1

print()

& & & & &
& & & &
& & &
& &
&

In [19]:
row = 1
while row <= 5:
    col = 5
    while col >= row:
        print("#", end=" ")
        col -= 1
    print()
    row += 1

# # # # #
# # # #
# # #
# #
#

In [22]:
i = 0
while i < row:
    j = 0
    while j < col:
        print("*", end=" ")
        j += 1
    print()
    i += 1

* * * *
* * * *
* * * *
* * * *
* * * *
* * * *

Q7 Reverse of wild loop to display number of 10 to 1

In [23]:
number = 10
while number >= 1:
    print(number)
    number -= 1

10
9
8
7
6
5
4
3
2
1

Q8 with for

In [24]:
for number in range(10, 0, -1):
    print(number)

10
9
8
7
6
5
4
3
2
1